.catalog {
	background: #fafafa;
	&__navigation {
		@include adaptiv-value(margin-bottom, 30, 10, 1);
	}
	&__catalog {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__popular {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__contacts {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
}
.catalog-hub {
	&__header {
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 35, 20, 1);
		}
	}
	&__body {
		margin: -11px -9.5px;
	}
	&__wrapper {
		@media (max-width: 850px) {
			margin-bottom: 20px;
		}
		@media (min-width: 850px) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&__item {
		@media (min-width: 850px) {
			flex: 0 0 25%;
			@media (max-width: #{$md2 + em}) {
				flex: 0 0 33.3%;
			}
			@media (max-width: #{$md3 + em}) {
				flex: 0 0 50%;
			}
			@media (max-width: #{$md4 + em}) {
				flex: 0 0 100%;
			}
		}
	}
	&__controls {
		display: flex;
		@media (min-width: 850px) {
			display: none;
		}
	}
}
