.garage-gates {
	background: #fafafa;
	&__navigation {
		@include adaptiv-value(margin-bottom, 30, 10, 1);
	}
	&__catalog {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__registration {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__work {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__numbers {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__price {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
		.price__header {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		.table__td {
			&_1 {
				width: 774px;
			}
			&_2 {
				width: 266px;
			}
		}
		.price__button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 12px 25px;
			background: $blueOriginal;
			border-radius: 5px;
			font-size: 14/16 * 1rem;
			line-height: 1;
			color: $white;
			transition: all 0.3s ease 0s;
			box-sizing: border-box;
			border: 1px solid $blueOriginal;
			font-weight: 400;
			&:not(._active) {
				font-weight: 400;
				background: $white;
				color: $lightBlack;
			}
			margin-top: 10px;
			margin-bottom: 0;
			&::before {
				display: none;
			}
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
	&__info-block {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__callback {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__popular {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__contacts {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
}
//====================================================================================================
.sort-block {
	display: flex;
	align-items: center;
	&__title {
		flex: 0 0 auto;
		font-weight: 400;
		font-size: 18/16 * 1rem;
		line-height: 21/18 * 100%;
		color: $lightBlack;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	&__brands {
		background: #ffffff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
		border: 1px solid #f0f0f0;
		box-sizing: border-box;
		border-radius: 15px;
		width: 100%;
		overflow: auto;
	}
	&__wrapper {
		padding: 5px 18px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__brand {
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiv-value(flex-basis, 148, -58, 1);
		padding-top: 7.3%;
		margin: 5px 5px;
	}
}
.catalog-garage {
	&__container {
	}
	&__header {
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 35, 15, 1);
		}
	}
	&__title {
	}
	&__body {
		display: flex;
		@media (min-width: #{$md2 + em}) {
			align-items: start;
		}
		@media (max-width: #{$md2 + em}) {
			flex-direction: column;
		}
	}
	&__sidebar {
		@media (min-width: #{$md2 + em}) {
			flex: 0 0 326px;
			@include adaptiv-value(flex-basis, 326, 200, 1);
			&:not(:last-child) {
				@include adaptiv-value(margin-right, 35, 20, 1);
			}
		}
		@media (max-width: #{$md2 + em}) {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
	}
	&__content {
		@media (min-width: #{$md2 + em}) {
			flex: 1 1 100%;
		}
	}
	&__sort {
		@media (min-width: #{$md2 + em}) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		@media (max-width: #{$md2 + em}) {
			display: none;
		}
	}
	&__products {
		margin: -15px;
		@media (max-width: #{$md3 + em}) {
			margin: -10px;
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.item-product {
			padding: 15px;
			@media (max-width: #{$md3 + em}) {
				padding: 10px;
			}
		}
		@include adaptiv-value(margin-bottom, 23, 20, 1);
	}
	&__product {
		flex: 0 0 50%;
		@media (max-width: #{$md3 + em}) {
			flex: 0 1 100%;
			margin: 0 auto;
		}
	}
	&__button {
		text-align: center;
		padding: 15px;
	}
	&__btn {
		cursor: pointer;
		@media (min-width: #{$md3 + em}) {
			display: inline-flex;
			padding: 12px 35px;
		}
	}
}
.sidebar-filters {
	background: #ffffff;
	border: 1px solid #e3e3e3;
	box-sizing: border-box;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	&__container {
		padding: 25px 15px;
	}
	&__search {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		.search__input {
			border: 1px solid $blueOriginal;
			color: $lightBlack;
			&::placeholder {
				color: #7d7e82;
				opacity: 1;
			}
		}
		@media (min-width: #{$md2 + em}) {
			.search__btn {
				opacity: 0.8;
			}
		}
		@media (max-width: #{$md2 + em}) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			.search__input {
				&::placeholder {
					color: $lightBlack;
				}
			}
		}
	}
	&__sort {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		@media (max-width: #{$md2 + em}) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	&__footer {
	}
	&__button {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__reset {
		text-align: center;
	}
	&__reset-btn {
		font-weight: 400;
		font-size: 16/16 * 1rem;
		line-height: 19/16 * 100%;
		color: $red;
		position: relative;
		padding-bottom: 2px;
		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			background-color: $red;
			left: 0;
			bottom: 0;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}
	}
}
.sort-sidebar {
	&__header {
		&:not(:last-child) {
			margin-bottom: 17px;
		}
		@media (max-width: #{$md2 + em}) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&__title {
		font-weight: 400;
		font-size: 18/16 * 1rem;
		line-height: 21/18 * 100%;
		color: $lightBlack;
	}
	&__checkboxs {
		& > *:not(:last-child) {
			margin-bottom: 15px;
		}
		@media (max-width: #{$md2 + em}) {
			display: none;
		}
	}
	&__select {
		@media (min-width: #{$md2 + em}) {
			display: none;
		}
		select {
			border: 1px solid $blueOriginal;
		}
	}
	&__checkbox {
		display: flex;
		align-items: center;
		position: relative;
		min-height: 20px;
	}
	&__checkbox-input {
		appearance: none;
		position: absolute;
		opacity: 0;
		&:checked + .sort-sidebar__checkbox-label::after {
			opacity: 1;
		}
		&:checked + .sort-sidebar__checkbox-label {
			color: $lightBlack;
		}
	}
	&__checkbox-label {
		font-weight: 400;
		font-size: 16/16 * 1rem;
		line-height: 19/16 * 100%;
		color: #747474;
		padding-left: 28px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $lightBlack;
			}
		}
		cursor: pointer;
		&::before {
			content: "";
			transition: all 0.3s ease 0s;
			display: block;
			width: 20px;
			height: 20px;
			background: #ffffff;
			border: 1px solid $blueOriginal;
			box-sizing: border-box;
			border-radius: 3px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
		}
		&::after {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			background: url('data:image/svg+xml,\
			\<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">\
\<path d="M0.999756 4.23077L3.99976 7L8.99976 1" stroke="%230B5AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\
\</svg>')
				no-repeat;
			background-position: center;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 4;
			opacity: 0;
			transition: all 0.2s linear 0s;
			border-radius: 3px;
		}
	}
}
//====================================================================================================
.registration {
	&__header {
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 35, 20, 1);
		}
	}
	&__title {
	}
	&__container {
	}
	&__material {
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 50, 40, 1);
		}
	}
	&__colors {
		margin: -15px -13px;
	}
}
//====================================================================================================
.catalog-material {
	&__body {
		margin: -11px -9.5px;
	}
	&__wrapper {
		@media (max-width: #{$md4 + em}) {
			margin-bottom: 20px;
		}
		@media (min-width: #{$md4 + em}) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&__item {
		@media (min-width: #{$md4 + em}) {
			flex: 0 0 20%;
			@media (max-width: #{$md2 + em}) {
				flex: 0 0 25%;
			}
			@media (max-width: #{$md3 + em}) {
				flex: 0 0 33.3%;
			}
			@media (max-width: #{$md4 + em}) {
				flex: 0 0 50%;
			}
		}
	}
	&__controls {
		display: none;
		@media (max-width: #{$md4 + em}) {
			display: flex;
		}
	}
}
