//====================================================================================================
.header {
	&__wrapper {
	}
	&__top {
	}
	&__bottom {
	}
}
.header-top {
	position: relative;
	z-index: 20;
	background-color: $white;
	&__row {
		display: flex;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
		& > * {
			margin: 0 20px;
		}
		@media (min-width: #{$md1 + px}) {
			justify-content: space-between;
		}
		@media (max-width: #{$md3 + em}) {
			& > * {
				margin: 0 10px;
			}
		}
	}
	&__logo {
		flex: 0 0 auto;
		margin-left: 0;
		@media (max-width: #{$md1 + px}) {
			flex: 1 1 auto;
		}
	}
	&__button {
		margin-right: 0;
	}
}
.callback-header {
	display: none;
	@media (min-width: #{$md1 + px}) {
		display: flex;
		align-items: center;
		& > *:not(:last-child) {
			margin-right: 15px;
		}
		&__photo {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid $blueOriginal;
		}
		&__text {
			& > *:not(:last-child) {
				margin-bottom: 3px;
			}
			font-weight: 400;
			line-height: 1;
			color: $lightBlack;
		}
		&__text-top {
			font-size: 16px;
		}
		&__text-bottom {
			color: inherit;
			font-size: 14/16 * 1rem;
			opacity: 0.6;
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					opacity: 1;
					color: $blueOriginal;
				}
			}
		}
	}
}
.phone-header {
	display: flex;
	align-items: center;
	& > *:not(:last-child) {
		margin-right: 14px;
	}
	&__ico {
		height: 25px;
		width: 25px;
		@media (max-width: #{$md3 + em}) {
			display: none;
		}
	}
	&__text {
		& > *:not(:last-child) {
			margin-bottom: 3px;
		}
		line-height: 1;
		color: $lightBlack;
	}
	&__text-top {
		font-weight: 500;
		font-size: 16/16 * 1rem;
		line-height: 1;
		color: inherit;
		@media (max-width: #{$md4 + em}) {
			font-size: 13/16 * 1rem;
		}
	}
	&__text-bottom {
		font-weight: 400;
		font-size: 14/16 * 1rem;
		opacity: 0.6;
		@media (max-width: #{$md4 + em}) {
			font-size: 10/16 * 1rem;
		}
	}
}
.button-header {
	@media (max-width: #{$md1 + px}) {
		display: none;
	}
}
.icon-menu {
	display: none;
	@media (max-width: #{$md1 + px}) {
		margin: 0;
		position: relative;
		display: block;
		width: 1.375rem;
		height: 1rem;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 0.0715rem);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 0.143rem;
			background-color: $blueOriginal;
			border-radius: 70px;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				width: 100%;
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 0.0715rem);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 0.0715rem);
				}
			}
		}
	}
}
.header-bottom {
	background: $gray;
	position: relative;
	&__row {
		padding: 15px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__catalog {
		@media (max-width: #{$md1 + px}) {
			margin-right: 10px;
		}
	}
	&__search {
		flex: 0 1 300px;
	}
}
.catalog-header {
	&__list-close {
		display: none;
		@media (max-width: #{$md1 + px}) {
			transition: all 0.3s ease 0s;
			margin: 0;
			position: absolute;
			display: block;
			width: 1.375rem;
			height: 30px;
			cursor: pointer;
			z-index: 20;
			top: 0;
			right: 0;
			margin-top: 15px;
			span {
				transition: all 0.3s ease 0s;
				top: calc(50% - 0.0715rem);
				left: 0px;
				position: absolute;
				width: 100%;
				height: 0.143rem;
				background-color: $blueOriginal;
				border-radius: 70px;
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 0.0715rem);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 0.0715rem);
				}
			}
		}
	}
	&__icon-spoller {
		display: none;
		@media (max-width: #{$md1 + px}) {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			position: absolute;
			pointer-events: none;
			top: 14px;
			right: 3px;
			height: 30px;
			width: 30px;
			svg {
				transition: all 0.3s ease 0s;
				transform: rotate(90deg);
				path {
					transition: all 0.3s ease 0s;
					opacity: 0.5;
				}
			}
			&._active {
				pointer-events: auto;
				svg {
					transform: rotate(-90deg);
					path {
						stroke: $blueOriginal;
						opacity: 1;
					}
				}
			}
		}
	}
	&__sublist-title {
		display: none;
		@media (max-width: #{$md1 + px}) {
			display: block;
			font-weight: 500;
			font-size: calc(26 / 16 * 1rem);
			line-height: 30px;
			letter-spacing: 0.01em;
			color: $lightBlack;
			margin-bottom: 5px;
			text-align: center;
			padding: 15px 22px 0 22px;
			position: relative;
		}
	}
	&__sublist-title-icon {
		position: absolute;
		left: 0;
		bottom: 4px;
		width: 20px;
		height: 22px;
		transform: rotate(180deg);
		z-index: 20;
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			path {
				opacity: 1;
				stroke: $blueOriginal;
			}
		}
	}
	&__button {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px 25px;
		background: $blueOriginal;
		border-radius: 5px;
		font-weight: 400;
		font-size: 16/16 * 1rem;
		line-height: 1;
		color: $white;
		transition: all 0.3s ease 0s;
		justify-content: space-between;
		@media (min-width: #{$md1 + px}) {
			@media (any-hover: hover) {
				&:hover {
					.catalog-header__arrow {
						transform: rotate(-180deg);
					}
					.catalog-header__body {
						opacity: 1;
						visibility: visible;
						top: calc(100% - 15px);
						pointer-events: auto;
					}
				}
			}
		}
		@media (max-width: #{$md1 + px}) {
			&._active {
				.catalog-header__body {
					right: 0;
				}
			}
		}
	}
	&__title {
		margin-right: 10px;
	}
	&__arrow {
		display: flex;
		align-items: center;
		transition: all 0.3s ease 0s;
	}
	&__body {
		@media (min-width: #{$md1 + px}) {
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			top: calc(100% - 15px);
			z-index: 500;
			position: absolute;
			width: 100%;
			left: 0;
			padding-top: 15px;
			cursor: default;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: #{$md1 + px}) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			right: -100%;
			transition: right 0.3s ease 0s;
			padding: 142px 15px 30px 15px;
			z-index: 10;
			background: $white;
			@include adaptiv-value(padding-top, 142, 115, 1);
		}
	}
	&__list {
		@media (min-width: #{$md1 + px}) {
			position: relative;
			height: 100%;
			display: inline-block;
			& > * {
				padding: 0 15px;
			}
			& > *:not(:last-child) {
				margin-bottom: 28px;
			}
			width: 210px;
			@media (max-width: 1380px) {
				width: 180px;
			}
			&::before {
				content: "";
				height: 100%;
				width: 1px;
				pointer-events: none;
				position: absolute;
				top: 0;
				right: 0;
				background-color: $gray;
			}
		}
		@media (max-width: #{$md1 + px}) {
		}
	}
	&__item {
		@media (min-width: #{$md1 + px}) {
			&._active {
				& > .catalog-header__sublist {
					opacity: 1;
					visibility: visible;
					left: 100%;
				}
				& > .catalog-header__link {
					background: $blueOriginal;
					border-radius: 5px;
					.catalog-header__icon path {
						fill: $white;
					}
					color: $white;
				}
			}
		}
		@media (max-width: #{$md1 + px}) {
			position: relative;
			&:not(:last-child) {
				&::before {
					content: "";
					width: 100%;
					height: 1px;
					background: #d9d9d9;
					opacity: 0.4;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 16/16 * 1rem;
		line-height: 1;
		color: $lightBlack;
		@media (min-width: #{$md1 + px}) {
			min-height: 40px;
			padding: 12px 10px;
		}
		@media (max-width: #{$md1 + px}) {
			padding: 20px 30px 20px 0;
			font-weight: 500;
			font-size: calc(18 / 16 * 1rem);
		}
	}
	&__icon {
		width: 16px;
		height: 16px;
		position: relative;
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;
			path {
				fill: $blueOriginal;
				transition: all 0.3s ease 0s;
			}
		}
		margin-right: 10px;
	}
	&__sublist {
		@media (min-width: #{$md1 + px}) {
			position: absolute;
			opacity: 0;
			visibility: hidden;
			left: calc(100% - 20px);
			left: 99.8%;
			top: 0px;
			z-index: 10;
		}
		@media (max-width: #{$md1 + px}) {
			background: #f9f9f9;
			border-radius: 5px;
			padding: 0 15px;
		}
	}
	&__list-wrapper {
		@media (min-width: #{$md1 + px}) {
			border: 1px solid #e1e1e1;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
			border-radius: 0 0 15px 15px;
			padding: 28px 0 55px 0;
			background: $white;
		}
		@media (max-width: #{$md1 + px}) {
			.catalog-header__sublist .catalog-header__link {
				font-size: calc(16 / 16 * 1rem);
			}
			.catalog-header__sublist .catalog-header__sublist .catalog-header__link {
				font-size: calc(14 / 16 * 1rem);
				font-weight: 500;
			}
		}
	}
}
.sublist-catalog {
	color: $lightBlack;
	@media (min-width: #{$md1 + px}) {
		width: calc(100vw - 650px);
		padding-left: 50px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	// .sublist-catalog__content
	&__content {
		@media (min-width: #{$md1 + px}) {
			display: flex;
			flex-wrap: wrap;
			margin: -28px -20px;
		}
	}
	// .sublist-catalog__item
	&__item {
		@media (min-width: #{$md1 + px}) {
			padding: 28px 20px;
		}
		@media (max-width: #{$md1 + px}) {
			position: relative;
			&:not(:last-child) {
				&::before {
					content: "";
					width: 100%;
					height: 1px;
					background: #d9d9d9;
					opacity: 0.4;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
	// .sublist-catalog__item-wrapper
	&__item-wrapper {
		@media (min-width: #{$md1 + px}) {
			height: 100%;
			width: 175px;
		}
		@media (max-width: #{$md1 + px}) {
			padding: 20px 0;
		}
	}
	&__item-icon {
		display: none;
		@media (max-width: #{$md1 + px}) {
			display: block;
			position: absolute;
			top: 0;
			right: 3px;
			svg {
				transition: all 0.3s ease 0s;
				transform: rotate(90deg);
				path {
					transition: all 0.3s ease 0s;
					opacity: 0.5;
				}
			}
			&._active {
				svg {
					transform: rotate(-90deg);
					path {
						stroke: $blueOriginal;
						opacity: 1;
					}
				}
			}
		}
	}
	// .sublist-catalog__item-title
	&__item-title {
		@media (min-width: #{$md1 + px}) {
			font-weight: 500;
			font-size: calc(18 / 16 * 1rem);
			line-height: 130%;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		@media (max-width: #{$md1 + px}) {
			font-weight: 400;
			position: relative;
			display: flex;
			align-items: center;
			&._active {
				.sublist-catalog__item-icon {
					svg {
						transform: rotate(-90deg);
					}
				}
			}
			font-size: calc(14 / 16 * 1rem);
		}
	}
	// .sublist-catalog__item-list
	&__item-list {
		@media (min-width: #{$md1 + px}) {
			& > *:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		@media (max-width: #{$md1 + px}) {
			&:not(:first-child) {
				padding-top: 20px;
			}
		}
	}
	// .sublist-catalog__item-link
	&__item-link {
		display: block;
		line-height: 140%;
		color: inherit;
		@media (any-hover: hover) {
			&:hover {
				color: $blueOriginal;
				text-decoration: underline;
			}
		}
		@media (max-width: #{$md1 + px}) {
			color: #333333;
			opacity: 0.7;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			font-weight: 400;
			font-size: calc(14 / 16 * 1rem);
		}
	}
}

.menu-header {
	@media (min-width: #{$md1 + px}) {
		margin: 0 20px;
	}
	&__body {
		@media (max-width: #{$md1 + px}) {
			position: relative;
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			right: -100%;
			background-color: $gray;
			transition: right 0.3s ease 0s;
			padding: 0 15px 30px 15px;
			z-index: 10;
			&._active {
				right: 0;
			}
		}
	}
	&__list {
		display: flex;
		@media (min-width: #{$md1 + px}) {
			justify-content: space-between;
			align-items: center;
			& > *:not(:last-child) {
				margin-right: 40px;
			}
		}
		@media (max-width: #{$md1 + px}) {
			& > * {
				padding-bottom: 20px;
				padding-top: 20px;
			}
			a {
				display: inline-block;
				width: 100%;
			}
			flex-direction: column;
			@include adaptiv-value(padding-top, 180, 140, 1);
		}
	}
	&__item {
		@media (max-width: #{$md1 + px}) {
			width: 100%;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #fff;
			}
		}
	}
	&__link {
		font-weight: 400;
		font-size: 14/16 * 1rem;
		line-height: 100%;
		color: $white;
		transition: all 0.3s ease 0s;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -3px;
			width: 0%;
			height: 1px;
			background-color: $white;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}
	}
	&__order {
		display: none;
		@media (max-width: #{$md1 + px}) {
			display: block;
			@media (min-height: 569.98px) {
				position: absolute;
				bottom: 30px;
				width: calc(100% - 30px);
				left: 50%;
				transform: translateX(-50%);
			}
			@media (max-height: 569.98px) {
				margin: 0 auto;
				margin-top: 100px;
			}
			max-width: 500px;
		}
	}
	&__button {
	}
}
.search {
	&__form {
		position: relative;
	}
	&__input {
		appearance: none;
		width: 100%;
		height: 40px;
		background-color: transparent;
		border: 1px solid #929397;
		box-sizing: border-box;
		border-radius: 5px;
		padding-left: 15px;
		@include adaptiv-value(padding-right, 42, 35, 1);
		color: $white;
		font-weight: 400;
		font-size: 14/16 * 1rem;
		line-height: 100%;
		&::placeholder {
			color: $white;
			font-weight: 400;
			font-size: 14/16 * 1rem;
			line-height: 100%;
			opacity: 0.8;
		}
	}
	&__btn {
		position: absolute;
		right: 14px;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.8;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
//====================================================================================================
