.page {
	background: #fafafa;
	&__main {
		margin-bottom: 50px;
	}
	&__advantagas {
		@include adaptiv-value(margin-bottom, 90, 69, 1);
	}
	&__catalog {
		@include adaptiv-value(margin-bottom, 145, 66.5, 1);
		.item-catalog__title {
			font-size: 16/16 * 1rem;
		}
		.item-catalog-slide__title {
			font-size: 16/16 * 1rem;
		}
	}
	&__popular {
		@include adaptiv-value(margin-bottom, 85, 69.2, 1);
	}
	&__discount {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__callback {
		margin-bottom: 70px;
	}
	&__numbers {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__price {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__work {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__step {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__questions {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__order {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__contacts {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
}
//====================================================================================================
.catalog-page {
	&__header {
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 35, 20, 1);
		}
	}
	&__body {
		margin: -11px -9.5px;
	}
	&__wrapper {
		@media (max-width: 850px) {
			margin-bottom: 20px;
		}
		@media (min-width: 850px) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&__item {
		@media (min-width: 850px) {
			flex: 0 0 25%;
			@media (max-width: #{$md2 + em}) {
				flex: 0 0 33.3%;
			}
			@media (max-width: #{$md3 + em}) {
				flex: 0 0 50%;
			}
			@media (max-width: #{$md4 + em}) {
				flex: 0 0 100%;
			}
		}
	}
	&__controls {
		display: flex;
		@media (min-width: 850px) {
			display: none;
		}
	}
}
//====================================================================================================
.advantagas {
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 899.98px) {
			margin-bottom: 25px;
			align-items: stretch;
		}
	}
	&__item {
		@media (max-width: 899.98px) {
			height: auto;
		}
	}
	&__line {
		@media (min-width: 899.98px) {
			display: block;
			width: 1px;
			height: 146px;
			background: #c4c4c4;
		}
		display: none;
	}
	&__controls {
		@media (min-width: 899.98px) {
			display: none;
		}
	}
}
.item-advantagas {
	@media (max-width: 899.98px) {
		display: flex;
		justify-content: center;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 15px;
		box-sizing: border-box;
		@media (max-width: 899.98px) {
			border: 2px solid #0b5ab9;
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
			padding: 30px 45px 38px 45px;
			flex: 0 1 100%;
			justify-content: center;
		}
		@media (max-width: 600px) {
			flex: 0 1 500px;
		}
	}
	&__icon {
		@include adaptiv-value(height, 90, 69, 1);
		@include adaptiv-value(width, 120, 92, 1);
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 20, 14.8, 1);
		}
	}
	&__content {
		line-height: 1.2;
		text-align: center;
		font-weight: 400;
	}
	&__title {
		font-size: 24/16 * 1rem;
		color: $lightBlack;
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 10, 6, 1);
		}
		@media (max-width: #{$md4 + em}) {
			font-size: 18/16 * 1rem;
		}
	}
	&__text {
		font-size: 14/16 * 1rem;
		color: #333333;
		opacity: 0.6;
		@media (max-width: #{$md4 + em}) {
			font-size: 16/16 * 1rem;
		}
	}
}
//====================================================================================================
.order {
	position: relative;
	color: #ffffff;
	& > img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: radial-gradient(
			94.08% 1081.11% at 94.08% 18.5%,
			rgba(11, 90, 185, 0.9) 0%,
			rgba(11, 90, 185, 0.9) 34.9%,
			rgba(11, 90, 185, 0.9) 100%
		);
	}
	&__container {
		padding-top: 30px;
		padding-bottom: 35px;
		position: relative;
		z-index: 3;
		@media (max-width: #{$md2 + em}) {
			max-width: 700px;
			margin: 0 auto;
		}
	}
	&__header {
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 17.5, 16.5, 1);
		}
	}
	&__title {
		font-weight: 700;
		font-size: 26/16 * 1rem;
		line-height: 1.15;
		@media (max-width: #{$md4 + em}) {
			font-size: 24/16 * 1rem;
		}
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 8, 10, 1);
		}
	}
	&__subtitle {
		font-weight: 400;
		font-size: 16/16 * 1rem;
		line-height: 1;
	}
	&__form {
	}
}
.form-order {
	&__inputs {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 7.5px;
		}
		@media (min-width: #{$md2 + em}) {
			& > *:not(:last-child) {
				margin-right: 24px;
			}
			align-items: center;
		}
		@media (max-width: #{$md2 + em}) {
			flex-direction: column;
		}
	}
	&__input {
		@media (min-width: #{$md2 + em}) {
			flex: 0 1 335px;
		}
		width: 100%;
		height: 40px;
		padding: 13px;
		margin: 7.5px 0;
		border: 1px solid #d8d8d8;
		box-sizing: border-box;
		border-radius: 3px;
		appearance: none;
		&::placeholder {
			font-weight: 400;
			font-size: 14/16 * 1rem;
			line-height: 1;
			color: $lightBlack;
			opacity: 0.4;
		}
	}
	&__button {
		margin: 7.5px 0;
		appearance: none;
		cursor: pointer;
		@media (min-width: #{$md2 + em}) {
			flex: 0 1 335px;
		}
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		background-color: transparent;
		color: inherit;
		border: 1px solid #ffffff;
		box-sizing: border-box;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #ffffff;
				color: $blueOriginal;
			}
		}
	}
	&__checkbox {
		display: flex;
		align-items: center;
		position: relative;
		min-height: 20px;
	}
	&__checkbox-input {
		appearance: none;
		position: absolute;
		opacity: 0;
		&:checked + .form-order__checkbox-label::after {
			opacity: 1;
		}
	}
	&__checkbox-label {
		padding-left: 28px;
		font-weight: 400;
		font-size: 14/16 * 1rem;
		line-height: 1.3;
		a {
			color: inherit;
			text-decoration: underline;
		}
		cursor: pointer;
		&::before {
			content: "";
			transition: all 0.3s ease 0s;
			display: block;
			width: 20px;
			height: 20px;
			background: #ffffff;
			border: 1px solid #d8d8d8;
			box-sizing: border-box;
			border-radius: 3px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
		}
		&::after {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			background: url('data:image/svg+xml,\
			\<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">\
\<path d="M0.999756 4.23077L3.99976 7L8.99976 1" stroke="%230B5AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\
\</svg>')
				no-repeat;
			background-position: center;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 4;
			opacity: 0;
			transition: all 0.2s linear 0s;
			border-radius: 3px;
		}
	}
}
//====================================================================================================
