.works {
	background: #fafafa;
	&__navigation {
		@include adaptiv-value(margin-bottom, 30, 10, 1);
	}
	&__callback {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
	&__work {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
		// .items-work__wrapper {
		// 	& > :not(:last-child) {
		// 		margin-bottom: 25px;
		// 	}
		// 	@media (min-width: 889.98px) {
		// 		display: flex;
		// 		flex-wrap: wrap;
		// 		& > * {
		// 			flex: 0 0 100%;
		// 		}
		// 		& > :nth-child(2) {
		// 			.item-work__header {
		// 				padding-left: 15px;
		// 				padding-right: 0;
		// 				order: 2;
		// 			}
		// 			.item-work__content {
		// 				padding-left: 0;
		// 				padding-right: 15px;
		// 				order: 1;
		// 			}
		// 		}
		// 	}
		// }
	}
	&__contacts {
		@include adaptiv-value(margin-bottom, 80, 69.5, 1);
	}
}
.work-new {
	// .work-new__container
	&__container {
	}
	// .work-new__header
	&__header {
		@include adaptiv-value(margin-bottom, 20, 15, 1);
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&::before {
			content: "";
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #c4c4c4;
			opacity: 0.5;
		}
	}
	// .work-new__title
	&__title {
		@include adaptiv-value(margin-bottom, 20, 15, 1);
	}
	// .work-new__show-map
	&__show-map {
		@include adaptiv-value(margin-bottom, 20, 15, 1);
		border: 1px solid $blueOriginal;
		border-radius: 5px;
		width: 320px;
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: calc(14 / 16 * 1rem);
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $blueOriginal;
				color: $white;
				path {
					stroke: $white;
				}
			}
		}
		&._active {
			svg {
				transform: rotate(-90deg);
			}
		}
		@media (max-width: #{$md3 + em}) {
			flex: 1 1 100%;
		}
	}
	&__show-map-icon {
		position: absolute;
		top: 50%;
		right: 15px;
		pointer-events: none;
		height: 10px;
		width: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);
		svg {
			transition: all 0.3s ease 0s;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;
			top: 0;
			left: 0;
			transform: rotate(90deg);
			opacity: 1;
			path {
				opacity: 1;
				transition: all 0.3s ease 0s;
				stroke: #000000;
			}
		}
	}
	&__more {
		@media (min-width: #{$md3 + em}) {
			display: flex;
			justify-content: center;
			a {
				display: inline-flex !important;
			}
		}
	}
	// .work-new__map
	&__map {
		flex: 1 1 100%;
		filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04))
			drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
		border-radius: 15px;
		@include adaptiv-value(height, 400, 316, 1);
		@include adaptiv-value(margin-bottom, 20, 15, 1);
	}
	// .work-new__body
	&__body {
	}
	// .work-new__filter
	&__filter {
		margin-bottom: 15px;
	}
	// .work-new__list
	&__list {
		&:not(:last-child) {
			@include adaptiv-value(margin-bottom, 35, 20, 1);
		}
	}
	// .work-new__items
	&__items {
	}
}
.filter-work {
	// .filter-work__block
	&__block {
		button {
			padding-top: 5px;
			color: $blueOriginal;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
		&:last-child {
			margin-top: 15px;
		}
	}
	// .filter-work__item
	&__item {
		margin-bottom: 15px;
	}
	&__item-wrapper {
		display: flex;
		overflow-x: auto;
		align-items: center;
		margin: -6px 0;
		& > *:not(:last-child) {
			margin-right: 10px;
		}
		& > * {
			padding: 6px 0;
		}
	}
	&__item-radio {
		position: relative;
		label {
			display: block;
			background: $white;
			border: 1px solid $blueOriginal;
			border-radius: 5px;
			padding: 12px 24px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background-color: $blueOriginal;
					color: $white;
				}
			}
		}
		input {
			appearance: none;
			position: absolute;
			opacity: 0;
			&:checked + .filter-work__item-label {
				background-color: $blueOriginal;
				color: $white;
			}
		}
	}
	// .filter-work__more
	&__more {
		background: rgba(11, 90, 185, 0.05);
		border: 1px solid $blueOriginal;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 38px;
		padding: 0 15px;
		border-radius: 5px;
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $blueOriginal;
				color: $white;
				path {
					stroke: $white;
				}
			}
		}
		&._active {
			svg {
				transform: rotate(-90deg);
			}
		}
	}
	&__more-icon {
		position: absolute;
		top: 50%;
		right: 15px;
		pointer-events: none;
		height: 10px;
		width: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);
		svg {
			transition: all 0.3s ease 0s;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;
			top: 0;
			left: 0;
			transform: rotate(90deg);
			opacity: 1;
			path {
				opacity: 1;
				transition: all 0.3s ease 0s;
				stroke: #000000;
			}
		}
	}
}
.items-work-new {
	// .items-work-new__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
	&__item {
		flex: 0 0 50%;
		width: 50%;
		padding: 15px;
		@media (max-width: #{$md2 + em}) {
			flex: 0 0 100%;
			width: 100%;
		}
	}
}
.item-work-new {
	// .item-work-new__container
	&__container {
		background: $white;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
		border-radius: 15px;
		overflow: hidden;
		height: 100%;
		@media (min-width: #{$md3 + em}) {
			display: flex;
		}
	}
	// .item-work-new__header
	&__header {
		@media (min-width: #{$md3 + em}) {
			flex: 0 0 46.38%;
			width: 46.38%;
		}
		@media (max-width: #{$md3 + em}) {
			@include adaptiv-value(height, 350, 180, 1);
		}
	}
	// .item-work-new__slider
	&__slider {
		height: 100%;
		position: relative;
	}
	// .item-work-new__wrapper
	&__wrapper {
	}
	// .item-work-new__slide
	&__slide {
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	// .item-work-new__controls
	&__controls {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
			background-color: $white;
			opacity: 1;
		}
	}
	// .item-work-new__content
	&__content {
		@media (min-width: #{$md3 + em}) {
			flex: 0 0 53.62%;
			width: 53.62%;
		}
		padding: 20px 15px 25px 15px;
		@media (max-width: #{$md3 + em}) {
			padding-top: 15px;
		}
	}
	// .item-work-new__title
	&__title {
		font-weight: 500;
		line-height: 130%;
		margin-bottom: 15px;
		color: $lightBlack;
	}
	// .item-work-new__characteristics
	&__characteristics {
		margin-bottom: 20px;
	}
	// .item-work-new__characteristic
	&__characteristic {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		& > * {
			font-weight: 400;
			font-style: 14px;
			line-height: 120%;
			color: $lightBlack;
		}
		& > :first-child {
			opacity: 0.6;
			margin-right: 10px;
		}
		& > :last-child {
			text-align: right;
		}
	}
	// .item-work-new__button
	&__button {
	}
}
